<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Web Practice
	style.
		body{overflow-x:hidden}.WebHero{background-image:url('../img/bg.png');-webkit-clip-path:polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%);clip-path:polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%)}.WebHero-header{padding:4em 4em;display:-webkit-box;display:flex;-webkit-box-pack:justify;justify-content:space-between}.WebHero-header-logo{font-family:'Montserrat', sans-serif;color:white!important;font-size:32px;font-size:2rem}.WebHero-header-button{color:white!important;font-size:32px;font-size:2rem}.WebHero-header-navbar{position:fixed;top:0;left:-100%;height:100%;width:45%;background:#333132;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center}.WebHero-header-navbar-menu{text-align:center;padding:0;width:100%;z-index:10001}.WebHero-header-navbar-menu-item{margin-bottom:1em;display:block}.WebHero-header-navbar-menu-item a{font-family:'Montserrat', sans-serif;padding:1em;width:100%;color:white;font-size:24px;font-size:1.5rem;display:block}.WebHero-copy{padding:2em 20em 20em 20em;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;flex-direction:column}.WebHero-copy-title{color:white;font-family:'Montserrat', sans-serif;text-align:center;padding-bottom:1em}.WebHero-copy-play{width:96px;width:6rem;height:96px;height:6rem;border-radius:50%;margin:auto;background:white;position:relative;display:-webkit-box;display:flex;-webkit-box-align:center;align-items:center;-webkit-box-pack:center;justify-content:center;padding-left:.5em}.WebHero-copy-play-triangulo{width:0;height:0;border-left:40px solid #03b3da;border-top:20px solid transparent;border-bottom:20px solid transparent;z-index:100;position:relative}.WebHero-copy-play-triangulo:before{content:"";top:-10px;left:-34px;position:absolute;border-left:20px solid #202020;border-top:10px solid transparent;border-bottom:10px solid transparent}.WebHero-copy-play:after{z-index:2;content:"";width:96px;width:6rem;height:96px;height:6rem;position:absolute;margin:auto;top:0;left:0;background:#202020 content-box;border-radius:50%;padding:.5em;box-sizing:border-box}.WebHoras{padding:5em 12em}.WebHoras-caption{font-family:'Exo 2', sans-serif;font-weight:bold;color:#333132;border-bottom:2px solid #333132;display:inline;font-size:80px;font-size:5rem}@media (max-width: 500px){.WebHero{-webkit-clip-path:polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%);clip-path:polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%)}.WebHero-header{padding:4em 2em}.WebHero-copy-title{font-size:2rem!important}.WebHoras{padding:5em 5em}.WebHoras-caption{font-size:4rem!important}}@media (max-width: 768px){.WebHero{-webkit-clip-path:polygon(0 0,100% 0, 100% 85%,75% 100%,0 80%);clip-path:polygon(0 0,100% 0, 100% 85%,75% 100%,0 80%)}.WebHero-header-navbar{width:80%}.WebHero-copy{padding:2em 2em 10em 2em}.WebHero-copy-title{font-size:2.8rem}.WebHoras{padding:5em 5em}.WebHoras-caption{font-size:5rem}}
body
	section.WebHero
		header.WebHero-header
			h1.WebHero-header-logo WEBPRACTICE
			//figure.WebHero-header-logo
				img(src="#", alt="WEBPRACTICE")
			span.fa.fa-bars.WebHero-header-button#burguer
			navbar.WebHero-header-navbar#menu
				ul.WebHero-header-navbar-menu
					li.WebHero-header-navbar-menu-item
						a(href="#horas").boton Horas
					li.WebHero-header-navbar-menu-item
						a(href="#plataforma").boton Plataforma
					li.WebHero-header-navbar-menu-item
						a(href="#aprender").boton Aprender
					li.WebHero-header-navbar-menu-item
						a(href="#blog").boton Blog
					li.WebHero-header-navbar-menu-item
						a(href="#contacto").boton Contacto
		.WebHero-copy
			h1.WebHero-copy-title!= "La mejor forma de ser <strong>profesional</strong> en algo es <strong>practicando</strong>"
			.WebHero-copy-play
				.WebHero-copy-play-circulo
					.WebHero-copy-play-circulo-corte
				.WebHero-copy-play-triangulo
	section.WebHoras#horas
		h1.WebHoras-caption 10.000 Horas
		h2.WebHoras-title Para ser experto
		.WebHoras-container
			p.WebHoras-parrafo  No se necesitan de 10.000 horas para ser un experto en alguna área. Si es cierto que mientras más se practique se va a tener más experiencia, pero eso no lo es todo. También se necesita la unión de aptitud y actitud. Las 10.000 ayudan a mejorar, pero no nos convertiremos en Bill Gates.
	section.WebPlataforma#plataforma
		.WebPlataforma-division
			h2.WebPlataforma-division-caption Plataforma
			h1.WebPlataforma-division-title La practica hace al maestro
			p.WebPlataforma-division-parrafo  En nuestra plataforma te daremos una mentiría personalizada con los mejores expertos. Te daremos proyectos específicos los cuales realizaras para corregir tus errores, con la finalidad de incrementar el aprendizaje. Así tus habilidades van a mejorar notoriamente.
			a.WebPlataforma-division-btn.btn(href="#") Leer más
		.WebPlataforma-division

	section.WebAprender#aprender
		.WebAprender-container
			h2.WebAprender-caption El mundo
			h1.WebAprender-title El aprendizaje esta en todo el mundo
			img(src="img/mundo.png", alt="mundo").WebAprender-img
			p.WebAprender-parrafo  En el mundo existe demasiada mediocridad, y es hora de cambiar esa perspectiva errónea de las personas. Nuestro objetivo es ayudar a las personas a construir el mundo del mañana, y que nuestro futuro sea extraordinario.
			a.WebAprender-btn.btn(href="#") Ver cursos
	.WebContainer
		section.WebBlog#blog
			.WebBlog-grid
				.WebBlog-grid-column
					.WebBlog-grid-column-header
						img(src="img/post1.jpg", alt="imagen")
					.WebBlog-grid-column-footer
						h3.WebBlog-grid-column-footer-caption TV
						h2.WebBlog-grid-column-footer-title Oficinas con la mejor capacitación.
						a.WebBlog-grid-column-footer-btn(href="#")
							span.fa.fa-plus
				.WebBlog-grid-column
					.WebBlog-grid-column-header
						img(src="img/post2.jpg", alt="imagen")
					.WebBlog-grid-column-footer
						h3.WebBlog-grid-column-footer-caption Ultimas Noticias
						h2.WebBlog-grid-column-footer-title  Todas las novedades en el área del conocimiento.
						a.WebBlog-grid-column-footer-btn(href="#")
							span.fa.fa-plus
		section.WebContact
			h2.WebContact-caption#contacto Contactanos
			h1.WebContact-title Oficinas al rededor del mundo
			img.WebContact-img(src="img/continentes.png", alt="continentes")
			p.WebContact-parrafo  Gracias a nuestras metodologías flexibles, y a nuestro gran equipo multicultural; le podemos brindar acceso de nuestros servicios a todo el mundo, para así construir un mejor futuro, y que nuestro planeta esté en manos de excelentes profesionales.
			a.WebContact-btn.btn(href="#") Leer más
	footer.WebFooter
		.WebFooter-grupo
			h1.WebFooter-grupo-title webpractice
			p.WebFooter-grupo-parrafo!= "&copy; Diseño y Desarrollo por <a href='http://jesusrojas.com.ve' target='_blank' class='WebFooter-grupo-parrafo-btn'>Jesús Rojas</a>"
			ul.WebFooter-grupo-sociales
				li.WebFooter-grupo-sociales-item
					a.fa.fa-linkedin(href="#")
				li.WebFooter-grupo-sociales-item
					a.fa.fa-twitter(href="#")
	<link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Montserrat:300,400,700" rel="stylesheet">
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/estilos.css")
	script(src="js/jquery.js")
	script(src="js/app.js")
