<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Web Practice
	link(rel="stylesheet", href="css/font-awesome.min.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.WebHero
		header.WebHero-header
			h1.WebHero-header-logo WEBPRACTICE
			//figure.WebHero-header-logo
				img(src="#", alt="WEBPRACTICE")
			span.fa.fa-bars.WebHero-header-button
			navbar.WebHero-header-navbar
				ul.WebHero-header-navbar-menu
					li.WebHero-header-navbar-menu-item
						a(href="#") Horas
					li.WebHero-header-navbar-menu-item
						a(href="#") Plataforma
					li.WebHero-header-navbar-menu-item
						a(href="#") Aprender
					li.WebHero-header-navbar-menu-item
						a(href="#") Blog
					li.WebHero-header-navbar-menu-item
						a(href="#") Contacto
		.WebHero-copy
			h1.WebHero-copy-title!= "La mejor forma de ser <strong>experto</strong> en algo es <strong>practicando</strong>"
			.WebHero-copy-play
				.WebHero-copy-play-circulo
					.WebHero-copy-play-circulo-corte
				.WebHero-copy-play-triangulo
	section.WebHoras
		h1.WebHoras-caption 1.000+
		h2.WebHoras-title Para ser un profesional
		.WebHoras-container
			p.WebHoras-parrafo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit veniam aliquam, aspernatur doloremque cupiditate sed blanditiis, quaerat neque odio nulla omnis modi nesciunt mollitia sequi molestias eveniet beatae, dicta nisi.
	section.WebPlataforma
		.WebPlataforma-division
			h2.WebPlataforma-division-caption Plataforma
			h1.WebPlataforma-division-title La practica es la solucion
			p.WebPlataforma-division-parrafo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla id dolorem nostrum delectus debitis, doloribus ea eveniet unde! Numquam tempore explicabo perferendis, nostrum doloribus aperiam doloremque, suscipit facere. Totam, quas. Nulla id dolorem nostrum delectus debitis, doloribus ea eveniet unde! Numquam tempore explicabo.
			a.WebPlataforma-division-btn.btn(href="#") Leer más
		.WebPlataforma-division

	section.WebAprender
		.WebAprender-container
			h2.WebAprender-caption El mundo
			h1.WebAprender-title El aprendizaje esta en todo el mundo
			img(src="img/mundo.png", alt="mundo").WebAprender-img
			p.WebAprender-parrafo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni placeat rerum possimus dolores in obcaecati perferendis, molestiae laudantium omnis autem deleniti aut pariatur consequatur, expedita suscipit quam unde, laboriosam. Dolore.
			a.WebAprender-btn.btn(href="#") Ver cursos
	section.WebBlog
		.WebBlog-grid
			.WebBlog-grid-column
				.WebBlog-grid-column-header
					img(src="img/post1.jpg", alt="imagen")
				.WebBlog-grid-column-footer
					h3.WebBlog-grid-column-footer-caption TV
					h2.WebBlog-grid-column-footer-title Lorem ipsum dolor sit amet, consectetur.
					a.WebBlog-grid-column-footer-btn(href="#")
						span.fa.fa-plus
			.WebBlog-grid-column
				.WebBlog-grid-column-header
					img(src="img/post2.jpg", alt="imagen")
				.WebBlog-grid-column-footer
					h3.WebBlog-grid-column-footer-caption Ultimas Noticias
					h2.WebBlog-grid-column-footer-title  Lorem ipsum dolor sit amet, consectetur.
					a.WebBlog-grid-column-footer-btn(href="#")
						span.fa.fa-plus
	section.WebContact
		h2.WebContact-caption Contactanos
		h1.WebContact-title Oficinas al rededor del mundo
		img.WebContact-img(src="img/continentes.png", alt="continentes")
		p.WebContact-parrafo  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum beatae velit quam ducimus, repellat unde mollitia sunt magnam blanditiis odit, labore deserunt tempore molestiae distinctio ex accusantium officiis ea modi.
		a.WebContact-btn.btn Leer más
	footer.WebFooter
		.WebFooter-grupo
			h1.WebFooter-grupo-title webpractice
			ul.WebFooter-grupo-sociales
				li.WebFotter-grupo-sociales-item
					a.fa.fa-linkedin(href="#")
				li.WebFotter-grupo-sociales-item
					a.fa.fa-twitter(href="#")
	<link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Montserrat:300,400,700" rel="stylesheet">