/*font-family: 'Montserrat', sans-serif;
font-family: 'Exo 2', sans-serif;*/
:root{
	--FuenteP: 'Montserrat', sans-serif;
	--FuenteS: 'Exo 2', sans-serif;

	--colorBack: #202020;
	--colorTitle: #333132;
	--colorText: #3c3c3c;
	--colorAzul: #03b3da;
	--colorRojo: #dc0109;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-bars:before {
  content: "\f0c9";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-twitter:before {
  content: "\f099";
}
.btn{
	font-family: var(--FuenteP);
	border-radius: 30px;
	text-transform: uppercase;
	border: 1px solid gray;
	padding: 1em 7em;
	font-weight: bold;
}
img{
	width: 100%;
}
body{
	overflow-x: hidden;
}
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 768px);
.WebHero{
	background-image: url('../img/bg.png');
	clip-path: polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%);
	&-header{
		padding: 4em 4em;
		display: flex;
		justify-content: space-between;
		&-logo{
			font-family: var(--FuenteP);
			color: white !important;
			font-size: 2rem;
		}
		&-button{
			color: white !important;
			font-size: 2rem;
			&:hover{
				cursor: pointer;
			}
		}
		&-navbar{
			position: fixed;
			top: 0;
			left: -100%;
			height: 100%;
			width: 45%;
			background: var(--colorTitle);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: .3s;
			&.active{
				left: 0;
			}
			&-menu{
				text-align: center;
				padding: 0;
				width: 100%;
				z-index: 10001;
				&-item{
					margin-bottom: 1em;
					display: block;
					a{
						font-family: var(--FuenteP);
						padding: 1em;
						width: 100%;
						color: white;
						font-size: 1.5rem;
						display: block;
						transition: .3s;
						&:hover{
							text-decoration: none;
							color: var(--colorAzul);
						}
			
					}
				}
			}
		}
	}
	&-copy{
		padding: 2em 20em 20em 20em;
		display: flex;
		align-items: center;
		flex-direction: column;
		&-title{
			color: white;
			font-family: var(--FuenteP);
			text-align: center;
			padding-bottom: 1em;

		}
		&-play{
			width: 6rem;
			height: 6rem;
			border-radius: 50%;
			margin: auto;
			background: white;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding-left: .5em;
			&:hover{
				cursor: pointer;
			}
			&-triangulo{
				width: 0; 
			    height: 0;
			    border-left: 40px solid var(--colorAzul);
			    border-top: 20px solid transparent;
			    border-bottom: 20px solid transparent;
			    z-index: 100;
			    position: relative;
			    &:before{
			    	content: "";
			    	top: -10px;
			    	left: -34px;
			    	position: absolute;
			    	border-left: 20px solid var(--colorBack);
				    border-top: 10px solid transparent;
				    border-bottom: 10px solid transparent;
			    }
			}
			&:after{
				z-index: 2;
				content: "";
				width: 6rem;
				height: 6rem;
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				background: var(--colorBack) content-box;
				border-radius: 50%;
				padding: .5em;
				box-sizing: border-box;
			}
		}
	}
}
.WebHoras{
	padding: 5em 12em;
	&-caption{
		font-family: var(--FuenteS);
		font-weight: bold;
		color: var(--colorTitle);
		border-bottom: 2px solid var(--colorTitle);
		display: inline;
		font-size: 5rem;
	}
	&-title{
		font-family: var(--FuenteP);
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 3.3rem;
		font-weight: lighter;
		padding: .5em 0 0 2em;
	}
	&-container{
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
	&-parrafo{
		padding-top: 3em;
		font-family: var(--FuenteS);
		width: 60%;
		color: var(--colorText);
		font-size: 1.2rem;
	}
}
.WebPlataforma{
	position: relative;
	height: 70rem;
	&-division{
		position: absolute;
		&-caption{
			color: white;
			font-family: var(--FuenteS);
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
			padding-bottom: 2em;

		}
		&-title{
			color: white;
			font-family: var(--FuenteP);
			font-weight: lighter;
			text-transform: uppercase;
			padding-bottom: 1.5em;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom: 20%;
				left: -10%;
				border-bottom: 3px solid var(--colorAzul);
				width: 30%;
			}
		}
		&-parrafo{
			color: white;
			font-family: var(--FuenteP);
			width: 60%;
			padding-bottom: 4em;
		}
		&-btn{
			color: var(--colorAzul);
			border: 1px solid var(--colorAzul);
			transition: .3s;
			&:hover{
				color: #067a93;
				border: 1px solid #067a93;
			}
		}
		&:first-child{
			padding: 21.5em 0 15em 15em;
			width: 79%;
			z-index: 5;
			background: var(--colorBack);
			clip-path: polygon(0 10%,30% 0, 100% 40%,80% 100%,0 85%);
		}
		&:last-child{
			right: 0;
			top: 7em;
			width: 40%;
			height: 65%;
			background-image: url('../img/fondo.jpg!d');
			z-index: 4;
			clip-path: polygon(100% 5.5%, 75% 0, 0 50%,70% 100%,100% 95%);


		}
	}
}
.WebAprender{
	text-align: center;
	padding: 10em 20em;
	&-caption{
		color: var(--colorRojo);
		font-family: var(--FuenteP);
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.5rem;
	}
	&-title{
		color: var(--colorText);
		font-family: var(--FuenteP);
		font-weight: lighter;
		text-transform: uppercase;
	}
	&-img{
		padding-bottom: 4em;
	}
	&-parrafo{
		font-family: var(--FuenteP);
		color: var(--colorText);
		padding-bottom: 4em;
	}
	&-btn{
		color: var(--colorRojo);
		border: 1px solid var(--colorRojo);
		&:hover{
			color: var(--colorRojo);
		}
	}

}
.WebContainer{
	position: relative;
	height: 110em;
	@media (--mobile){
		height: 140em !important;
	}
}
.WebBlog{
	display: flex;
	justify-content: center;
	z-index: 10;
	position: absolute;
	img{
		width: 100%;
	}
	&-grid{
		width: 70%;
		lost-center: 100%;
		lost-utility: clearfix;
		z-index: 100;
		&-column{
			background: white;
			lost-column: 1/2;
			@media (--mobile){
				lost-column: 1;
				margin-bottom: 3em;
			}
			&:first-child{
				.WebBlog-grid-column-footer-caption{
					color: var(--colorAzul);
				}
			}
			&:last-child{
				.WebBlog-grid-column-footer-caption{
					color: var(--colorTitle);
				}
			}
			&-footer{
				display: flex;
				flex-direction: column;
				text-align: center;
				align-items: center;
				position: relative;
				padding: 4em 2em;
				&-caption{
					font-family: var(--FuenteS);
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.3rem;
				}
				&-title{
					font-size: 1.5rem;
					font-family: var(--FuenteP);
					color: var(--colorText);
				}
				&-btn{
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0;
				    height: 0;
				    border-left: 2em solid transparent;
				    border-top: 2em solid transparent;
				    border-right: 2em solid #404040;
				    border-bottom: 2em solid #404040;
				    transition: .3s;
				    &:hover{
				    	border-right: 2em solid var(--colorAzul);
				    	border-bottom: 2em solid var(--colorAzul);
				    }
					span{
						padding-left: .3em;
						color: white;
					}
				}
			}
		}
	}
}
.WebContact{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background: var(--colorBack);
	padding: 40em 10em 10em 10em;
	position: absolute;
	top: 0;
	z-index: 1;
	clip-path: polygon(0 0,70% 30%, 100% 18%,100% 70%,100% 95%,25% 100%, 0 95%);
	&-caption{
		font-family: var(--FuenteP);
		text-transform: uppercase;
		color: var(--colorAzul);
		font-size: 1.5rem;
	}
	&-title{
		color: white;
		font-family: var(--FuenteP);
		font-weight: lighter;
		text-transform: uppercase;
	}
	&-parrafo{
		color: white;
		width: 80%;
		font-family: var(--FuenteP);
		line-height: 1.8rem;
		padding-bottom: 4em;
	}
	&-btn{
		color: var(--colorAzul);
		border: 1px solid var(--colorAzul);
		&:hover{
			color: var(--colorAzul);
		}
	}
}
.WebFooter{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 3em;
	&-grupo{
		display: flex;
		flex-direction: column;
		align-items: center;
		&-title{
			font-family: var(--FuenteP);
			color: var(--colorTitle);
			font-size: 2rem;
			text-transform: uppercase;
			font-weight: normal;
		}
		&-sociales{
			padding: 0;
			margin: 0;
			display: flex;
			justify-content: space-between;
			width: 50%;
			&-item{
				list-style: none;
				font-size: 1.5rem;
				a{
					color: var(--colorText);
					transition: .3s;
					&:hover{
						color: var(--colorAzul);
						text-decoration: none;
					}
				}
			}
		}
	}
}
@media (max-width: 768px){
	.WebHero{
		clip-path: polygon(0 0,100% 0, 100% 85%,75% 100%,0 80%);
		&-header-navbar{
			width: 80%;
		}
		&-copy{
			padding: 2em 2em 10em 2em;
			&-title{
				font-size: 2.8rem;

			}
		}
	}
	.WebHoras{
		padding: 5em 5em;
		&-caption{
			font-size: 5rem;
		}
	}
	.WebPlataforma{
		height: 80rem;
		&-division{
			&:first-child{
				padding: 18em 0 10em 5em;
				clip-path: polygon(0 10%,30% 0, 100% 40%,80% 100%,0 95%);
			}
			&:last-child{
				right: 0;
				width: 70%;
				height: 70%;
			}
		}
	}
	.WebAprender{
		padding: 10em 5em;
		&-parrafo{
			font-size: 1.2rem;
		}

	}
	.WebBlog{
		&-grid{
			width: 90%;
		}
	}
	.WebContact{
		padding: 35em 2em 10em 2em;
		clip-path: polygon(0 0,70% 20%, 100% 10%,100% 70%,100% 95%,25% 100%, 0 95%);
		&-parrafo{
			font-size: 1.5rem;
			line-height: 2.5rem;
		}
	}
}
@media (max-width: 500px){
	.WebHero{
		clip-path: polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%);
		&-header{
			padding: 4em 2em;

		}
		&-copy{
			&-title{
				font-size: 2rem !important;

			}
		}
	}
	.WebHoras{
		padding: 5em 5em;
		&-caption{
			font-size: 4rem !important;
		}
		&-title{
			font-size: 2rem !important;
			padding: .5em 0 0 1em;
		}
		&-parrafo{
			padding-top: 2em;
			width: 100%;
			font-size: 1.2rem;
			text-align: justify;
		}
	}
	.WebPlataforma{
		height: 55rem !important;
		&-division{
			&-caption{
				font-size: 1.8rem;
				padding-bottom: 1em;
			}
			&-title{
				font-size: 2rem;
				&:after{
					width: 50%;
				}
			}
			&-btn{
				padding: 1em 5em;
			}
			&-parrafo{
				width: 80%;
			}
			&:first-child{
				width: 100%;
				padding: 13em 0 10em 4em !important;
				clip-path: polygon(0 10%,30% 0, 100% 20%,100% 95%,50% 100%, 0 95%) !important;
			}
			&:last-child{
				top: 0;
				right: 0;
				width: 70%;
				height: 70%;
			}
		}
	}
	.WebAprender{
		padding: 10em 2em !important;
		&-parrafo{
			font-size: 1.2rem;
		}
		&-title{
			font-size: 2rem;
		}
		&-btn{
			padding: 1em 5em;
		}

	}
	.WebContact{
		padding: 70em 2em 10em 2em !important;
		&-parrafo{
			font-size: 1.2rem !important;
			line-height: 2rem !important;
		}
	}
}