/*font-family: 'Montserrat', sans-serif;
font-family: 'Exo 2', sans-serif;*/
:root{
	--FuenteP: 'Montserrat', sans-serif;
	--FuenteS: 'Exo 2', sans-serif;

	--colorBack: #202020;
	--colorTitle: #333132;
	--colorText: #3c3c3c;
	--colorAzul: #03b3da;
	--colorRojo: #dc0109;
}
.btn{
	font-family: var(--FuenteP);
	border-radius: 30px;
	text-transform: uppercase;
	border: 1px solid gray;
	padding: 1em 7em;
	font-weight: bold;
}
.WebHero{
	background-image: url('../img/bg.png');
	clip-path: polygon(0 0,100% 0, 100% 70%,75% 100%,0 55%);
	&-header{
		padding: 4em 4em;
		display: flex;
		justify-content: space-between;
		&-logo{
			font-family: var(--FuenteP);
			color: white !important;
			font-size: 2rem;
		}
		&-button{
			color: white !important;
			font-size: 2rem;
			&:hover{
				cursor: pointer;
			}
		}
		&-navbar{
			display: none;
		}
	}
	&-copy{
		padding: 2em 20em 20em 20em;
		display: flex;
		align-items: center;
		flex-direction: column;
		&-title{
			color: white;
			font-family: var(--FuenteP);
			text-align: center;
			padding-bottom: 1em;

		}
		&-play{
			background: black;
			width: 8rem;
			height: 8rem;
		}
	}
}
.WebHoras{
	padding: 5em 12em;
	&-caption{
		font-family: var(--FuenteS);
		font-weight: bold;
		color: var(--colorTitle);
		border-bottom: 2px solid var(--colorTitle);
		display: inline;
		font-size: 5rem;
	}
	&-title{
		font-family: var(--FuenteP);
		font-weight: lighter;
		text-transform: uppercase;
		font-size: 3.3rem;
		font-weight: lighter;
		padding: .5em 0 0 2em;
	}
	&-container{
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
	&-parrafo{
		padding-top: 3em;
		font-family: var(--FuenteS);
		width: 60%;
		color: var(--colorText);
		font-size: 1.2rem;
	}
}
.WebPlataforma{
	position: relative;
	height: 80rem;
	&-division{
		position: absolute;
		&-caption{
			color: white;
			font-family: var(--FuenteS);
			text-transform: uppercase;
			font-size: 2.5rem;
			font-weight: bold;
			padding-bottom: 2em;

		}
		&-title{
			color: white;
			font-family: var(--FuenteP);
			font-weight: lighter;
			text-transform: uppercase;
			padding-bottom: 1.5em;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				bottom: 20%;
				left: -10%;
				border-bottom: 3px solid var(--colorAzul);
				width: 30%;
			}
		}
		&-parrafo{
			color: white;
			font-family: var(--FuenteP);
			width: 60%;
			padding-bottom: 4em;
		}
		&-btn{
			color: var(--colorAzul);
			border: 1px solid var(--colorAzul);
			transition: .3s;
			&:hover{
				color: #067a93;
				border: 1px solid #067a93;
			}
		}
		&:first-child{
			padding: 21.5em 0 15em 15em;
			width: 79%;
			z-index: 5;
			background: var(--colorBack);
			clip-path: polygon(0 10%,30% 0, 100% 40%,80% 100%,0 85%);
		}
		&:last-child{
			right: 0;
			top: 7em;
			width: 40%;
			height: 65%;
			background-image: url('../img/fondo.jpg!d');
			z-index: 4;
			clip-path: polygon(100% 5.5%, 75% 0, 0 50%,70% 100%,100% 95%);


		}
	}
}